<a href="https://colab.research.google.com/github/Willy-inovem/Praktikum-py/blob/main/Praktikum1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Membuat variabel dengan tipe data berbeda
umur = 25  # Tipe data int (integer)
harga = 15000.50  # Tipe data float (floating-point number)
nama_produk = "Laptop"  # Tipe data str (string)
daftar_angka = [1, 2, 3, 4]  # Tipe data list

# Menampilkan tipe data dari masing-masing variabel
print("Tipe data variabel 'umur' adalah:", type(umur))
print("Tipe data variabel 'harga' adalah:", type(harga))
print("Tipe data variabel 'nama_produk' adalah:", type(nama_produk))
print("Tipe data variabel 'daftar_angka' adalah:", type(daftar_angka))

Tipe data variabel 'umur' adalah: <class 'int'>
Tipe data variabel 'harga' adalah: <class 'float'>
Tipe data variabel 'nama_produk' adalah: <class 'str'>
Tipe data variabel 'daftar_angka' adalah: <class 'list'>

In [ ]:
# Membuat list belanjaan awal
list_belanja = ["beras", "minyak", "telur"]
print("List belanjaan awal:", list_belanja)

# Menambahkan item baru ke dalam list menggunakan fungsi append()
list_belanja.append("gula")
list_belanja.append("kopi")
print("List belanjaan setelah ditambahkan item:", list_belanja)

# Menampilkan semua item di dalam list menggunakan perulangan for
print("\nDaftar belanjaan:")
for item in list_belanja:
    print(item)

List belanjaan awal: ['beras', 'minyak', 'telur']
List belanjaan setelah ditambahkan item: ['beras', 'minyak', 'telur', 'gula', 'kopi']

Daftar belanjaan:
beras
minyak
telur
gula
kopi

In [ ]:
# Membuat dictionary harga belanjaan
harga_belanjaan = {
    "beras": 12000,
    "minyak": 17000,
    "telur": 24000,
    "gula": 15000,
    "kopi": 20000
}

# Menghitung total harga semua belanjaan
total_harga = 0
for harga in harga_belanjaan.values():
    total_harga += harga

# Menampilkan total harga
print("Daftar harga belanjaan:", harga_belanjaan)
print("\nTotal harga seluruh belanjaan adalah:", total_harga)

Daftar harga belanjaan: {'beras': 12000, 'minyak': 17000, 'telur': 24000, 'gula': 15000, 'kopi': 20000}

Total harga seluruh belanjaan adalah: 88000

In [ ]:
import math

# Membuat fungsi untuk menghitung luas dan keliling lingkaran
def hitung_lingkaran(jari_jari):
    luas = math.pi * jari_jari**2
    keliling = 2 * math.pi * jari_jari
    return luas, keliling

# Menggunakan fungsi dengan jari-jari 7
jari_jari_lingkaran = 7
luas_lingkaran, keliling_lingkaran = hitung_lingkaran(jari_jari_lingkaran)

# Menampilkan hasil
print("Luas lingkaran dengan jari-jari", jari_jari_lingkaran, "adalah:", luas_lingkaran)
print("Keliling lingkaran dengan jari-jari", jari_jari_lingkaran, "adalah:", keliling_lingkaran)

Luas lingkaran dengan jari-jari 7 adalah: 153.93804002589985
Keliling lingkaran dengan jari-jari 7 adalah: 43.982297150257104

In [ ]:
# Meminta pengguna memasukkan usia
try:
    usia_pengguna = int(input("Masukkan usia Anda: "))

    # Menentukan kategori usia menggunakan percabangan
    if 0 <= usia_pengguna <= 13:
        kategori = "Anak"
    elif 14 <= usia_pengguna <= 24:
        kategori = "Remaja"
    elif 25 <= usia_pengguna <= 49:
        kategori = "Dewasa"
    elif usia_pengguna >= 50:
        kategori = "Lansia"
    else:
        kategori = "Usia tidak valid"

    # Menampilkan hasil
    print("Anda termasuk kategori:", kategori)

except ValueError:
    print("Input yang Anda masukkan tidak valid. Mohon masukkan angka.")

Masukkan usia Anda: 51
Anda termasuk kategori: Lansia